@import 'variables.scss';

@mixin border($color: $grey, $radius: 3%, $size: 2px, $typeBorder: solid ) {
  border: $size $typeBorder $color;
  border-radius: $radius;
}

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
}

@mixin borderInterface() {
  @include border();
  background: #000000b8;
}

@mixin button($background: black, $color: white, $radius: 18%, $size: 14px, $paddin: 6px 12px,  ) {
  background: $background;
  color: $color;
  size: $size;
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  padding: $paddin;
}