@import 'mixins.scss';

.scrollarea .scrollbar-container {
  z-index: 1 !important;
}

.dark {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  .textDark {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 20px;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
  }

  &.full {

    .background {
      opacity: 1;
    }
  }
}

.game-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('/images/background.jpg');
  background-size: 100% 100%;
  top: 0px;
  left: 0px;
  animation: change-opacity 1s linear 1;
}

.page {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin: 0 auto;
  height: 800px;
}

.scrollbar-container {
  opacity: 1 !important;
  background: #d2d2d257 !important;
}

.scrollbar {
  background: white !important;
}

.user-page {
  width: 800px;
}

.users {
  @include border();
  padding: 10px;
  display: inline-block;
  background: #000000b0;
  width: 100%;
  position: relative;

  .reload-users {
    @include button($darkGreen);
    position: absolute;
    top: -19px;
    right: -24px;
  }
}

.user {
  @include border($grey, 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 27px;
  padding: 10px;

  &-button {
    border-radius: 3%;
    color: white;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background: $darkGreen;
    width: 200px;
    @include noSelect();

    &.cancel {
      background: #9c0004;
    }
  }
}

.exit-button {
  background: $grey;
  position: fixed;
  top: 0px;
  right: 0px;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 28px;
}

.darker {
  opacity: 0.5;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-invite {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
  }

  .user-button {
    display: inline-block;
  }

  &-title {

  }
}

.modalFAQ {
  width: 600px;
  position: relative;

  h2 {
    text-align: center;
  }
}

.close {
  @include button(red);
  position: absolute;
  top: -20px;
  right: 0px;
}

.border-interface {
  @include borderInterface();
}

.wrapper {
  width: 1330px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
  color: white;

  .faq {
    @include button($green);
  }

  & > div {
    display: inline-block;
    height: 100%;
  }

  .character-list {
    @include borderInterface();
    width: 35%;
    padding: 10px;

    .block1 {
      display: flex;
      justify-content: space-between;

      .player2 {
        font-size: 20px;
        color: $yellowLight;
      }
    }

    .block2 {
      h2, h3 {
        text-align: center;
      }

      .inventory-container {
        @include borderInterface();
        padding: 10px;
      }

      .inventory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        padding-right: 13px;

        .weapon {
          @include borderInterface();
          width: 100px;
          height: 130px;
          margin-bottom: 5px;
          text-align: center;
        }

        .image {
          width: 100%;
          height: auto;
        }

        .name {
          font-weight: bold;
          padding: 5px 0px;
        }

        .damage {
          padding-bottom: 5px;
        }

        .button {
          background: $yellow;
          padding: 7px 0px;
          cursor: pointer;
        }

        .equip {
          background: $green;
          cursor: default;
        }

        .battle {
          opacity: 0.4;

          .button {
            cursor: default;
          }
        }
      }
    }

  }

  .main-block {
    @include borderInterface();
    width: 60%;
    padding: 10px;

    .content {
      @include borderInterface();
      height: 500px;
    }

    .chat {
      @include borderInterface();
      margin-top: 11px;
      height: 259px;
      padding: 10px;
      position: relative;
      z-index: 99999;

      .scrollarea {
        height: inherit;
      }
    }
  }

  .game-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .zones {

    }

    .battle-field {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      background: #ff00004d;
      border-radius: 18px;

      .main {
        @include borderInterface();
        padding: 5px;
        text-align: center;
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        img {
          cursor: pointer;
        }
      }
    }

    .game-main-elements {
      position: absolute;
      top: -36px;
      right: -85px;
      z-index: 99999;

      & > div {
        margin: 10px;
      }

      .restart {
        @include button($yellow, white, 11px);
      }

      .exit {
        @include button(red, white, 11px);
      }
    }

    .game-main-parametrs {
      position: absolute;
      top: -25px;
      left: -10px;
      @include button($grey, white, 11px);
      display: flex;
      justify-content: center;
      cursor: default;
      width: 500px;
      z-index: 2;

      div {

        padding: 0px 16px;
      }
    }

    .zone {
      @include borderInterface();
      width: 63px;
      height: 63px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

      .button {
        @include borderInterface();
        margin-top: 10px;
        padding: 2px;
        background: $black;
        color: $white;
        cursor: pointer;
      }
    }

    .open {
      background: $white;
      color: $black;
    }

    .player1 {
      background: $green;
      color: $white;
    }

    .player2 {
      background: $yellowLight;
      color: $black;
    }

    .zone-raw {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.tooltipUp {
  margin-top: 10px;
}

.tooltipDown {
  margin-bottom: 10px;
}

.name-player1 {
  color: $green;
}

.name-player2 {
  color: $yellowLight;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  z-index: 99999999;
}

.main-modal {
  outline: none;
}

.game-modal, .faq-modal {
  background: white;
  position: relative;
  border-radius: 10px;
  padding: 5px 30px 25px 30px;
}